.header {
    text-align: center;
    background-color: gainsboro;
    border-bottom: 3px solid #525476;
    .navBrand {
        img{
            width: 125px;
            height: auto;
        }
    }
    .button {
        float: right;
    }
}