@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

.header {
  display: flex;
  background-color: gainsboro;
  border-bottom: 3px solid #525476;
  .navBrand {
    img {
      width: 125px;
      height: auto;
    }
  }
  ul {
    padding: auto;
    margin: auto;
    text-align: right;
    li {
      list-style: none;
      text-align: right;
    }
  }
}
