.header {
  display: flex;
  text-align: center;
  background-color: gainsboro;
  border-bottom: 3px solid #525476;
  .navBrand {
    img {
      width: 125px;
      height: auto;
    }
  }
  .signup {
    position: relative;
    bottom: 10%;
    left: 70%;
  }
  .login {
    position: relative;
    left: 70%;
  }
  .profile {
    position: relative;
    bottom: 10%;
    left: 70%;
  }
  .logout {
    position: relative;
    left: 70%;
  }
}
