@import "components/button.scss";
@import "~react-datepicker/dist/react-datepicker.css";
@import "pages/landing.scss";
@import "pages/login.scss";
@import "pages/dashboard.scss";
@import "pages/signup.scss";
@import "pages/profile.scss";
@import "pages/highscore.scss";
@import "pages/gameboard.scss";
@import "layout/header.scss";
@import "layout/footer.scss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #c7d1ff;
}

html {
  min-height: 100%;
}
