@import "components/button.scss";
@import "~react-datepicker/dist/react-datepicker.css";

.landing {
  height: 100vh;
  font-family: "Libre Baskerville", serif;
  color: #f8d568;
  text-align: center;
  .login {
    justify-content: center;
  }
  .header {
    padding-top: 10rem;
  }
  .subtext {
    margin-top: 3rem;
  }
}
