@import "../helpers/mixins";

.dashboard {
  margin-bottom: 200px;
  @include respond-above(md) {
    margin-bottom: 300px;
  }
  @include respond-above(lg) {
    margin-bottom: 635px;
  }
  .game-card {
    border: none;
    background-color: transparent;
  }
  .winnings {
    color: gold;
  }
}
